# AI Model Configuration
API_VERSION=your_model_api_version
ENDPOINT=your_model_endpoint
SUBSCRIPTION_KEY=your_subscription_key
DEPLOYMENT=your_model_deployment
# AI Agent Configuration for evaluations
JUDGE_ENDPOINT=your_model_endpoint
JUDGE_SUBSCRIPTION_KEY=your_subscription_key

# MongoDB Configuration
DB_NAME=your_db_name
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
# For DB creation
DB_ADMIN_USERNAME=your_db_admin_username
DB_ADMIN_PASSWORD=your_db_admin_password